$budha-gold: #cc9900;
$white: #ffffff;
$wide-medium-screen: 1414px;
$medium-screen: 1278px;
$small-screen: 900px;
$ash: #c6c3b9;
$hokey-pokey: #c9a131;
$black: #000000;
$l-screen: 1660px;
$budha-border: rgba(204, 153, 0, 0.3);
