@import '../variables/_variables.scss';

.promo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0 100px;


  .buttons {
    max-width: 100%;
    margin-top: 3px;
    margin-bottom: 33px;
    text-align: center;

    input {
      padding: 0 15px;
    }

    .book-table {
      &:hover {
        opacity: 1 / 3;
      }
    }


    .see-the-menu {
      &:hover {
        opacity: 1 / 3;
      }
    }
  }

  img {
    max-width: 100%;
    padding: 25px;
    text-align: center;
  }

  h1 {
    font-size: 100px;
    font-weight: bold;
    color: $white;
    text-align: center;
  }
}
