@import '../variables/_variables.scss';

.promo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 0 50px;


  .buttons {
    max-width: 100%;
    margin-top: 3px;
    margin-bottom: 33px;
    text-align: center;

    input {
      padding: 0 15px;
    }

    .book-table {
      &:hover {
        opacity: 1 / 3;
      }
    }


    .see-all-dishes {
      &:hover {
        opacity: 1 / 3;
      }
    }
  }
}

.book-table {
  padding: 10px 20px;
  font-family: Arial;
  font-size: 1.4rem;
  color: $white;
  text-decoration: none;
  background: $black-low-opacity;
  border-color: $black;

  &:hover {
    background: $black;
 }
}

.see-all-dishes {
  padding: 10px 20px;
  margin-left: 20px;
  font-family: Arial;
  font-size: 1.4rem;
  color: $white;
  text-decoration: none;
  background: $white-low-opacity;
  border-radius: 0;


  &:hover {
    background: 0;
  }
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: $white;
  text-align: center;
  }
