$budha-gold: #cc9900;
$white: #ffffff;
$max-md-screen: 1414px;
$max-sm-screen: 1278px;
$max-xs-screen: 900px;
$ash: #c6c3b9;
$hokey-pokey: #c9a131;
$black: #000000;
$l-screen: 1660px;
$budha-border: rgba(204, 153, 0, 1/3);
$white-low-opacity: rgba(242, 242, 242, 1/3);
$black-low-opacity: rgba(0, 0, 0, 1/2);
