@import './_variables.scss';

.wrapper-rewiews {
  background: fixed url('../image/bg_slider.png') no-repeat center center / cover;
}

.Rewiews {
  max-width: 900px;
  background:  url('../image/bg6_slider.png') no-repeat center ;
  text-align: center;
  margin-left: 20%;
  padding-top: 130px;
  padding-bottom: 100px;

  @media screen and (max-width: $medium-screen) {
    display: flex;
    justify-content: center;
    margin-left: 10%;
  }

  @media screen and (max-width: $small-screen) {
    display: flex;
    justify-content: center;
    margin-left: 0;
    background-position: center;
  }
}

.rewiew {
  padding-top: 78px;
  padding-bottom: 100px;
  color: $white;

  @media screen and (max-width: $medium-screen) {
      margin-left: 0;
      text-align: center;
  }

  img {

    padding-top: 20px;
    padding-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    padding-bottom: 50px;
    font-size: 1.5rem;
    line-height: 2;

    @media screen and (max-width: $small-screen) {
      font-size: 1rem;
    }
  }

  h2 {
    font-size: 1.3rem;
  }
}


@media screen and (max-width: $small-screen) {
  .wrapper-rewiews {
    margin-left: 0;
    text-align: center;
  }
}
