@import './_variables.scss';

.wrapper-ingredients {
  background-attachment: fixed;
  background-image: url('../image/bg3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-ingredients {
  padding-top: 170px;
  padding-bottom: 150px;
  background-image: url('../image/bg4.png');
  background-position: 73%;
  background-repeat: no-repeat;

  h1 {
    font-size: 36px;
    padding-bottom: 17px;
    color: $white;
    margin-left: 59.5%;
  }

  p {
    line-height: 1.5;
    font-size: 16px;
    padding-top: 30px;
    color: $white;
    margin-left: 55%;
  }

}



.divider2 {
  justify-content: center;
  max-width: 100%;
  margin-left: 60%;
}


.product_image {
  padding-top: 80px;
  margin-left: 55%;

  img {
    padding-left: 15px;
    margin-left: 0;
  }
}


@media screen and (max-width: 1660px) {
  .section-ingredients {
    background-position: 80%;
  }
}
@media screen and (max-width: 1414px) {
  .section-ingredients {
    background-position: 83%;
  }
}
@media screen and (max-width: 1278px) {
  .section-ingredients {
    background-position: center;


    .divider2 {
      text-align: center;
      margin-left: 0;
    }

    p {
      text-align: center;
      padding-left: 3px;
      margin-left: 0;
    }

    h1 {
      text-align: center;
      margin-left: 0;
    }
  }



  .wrapper-ingredients {
    div {
      text-align: center;
      margin: 0;
    }
  }
}
