@import './_variables.scss';

.wrapper-menu {
  background: fixed url('../image/menu-bg.png') no-repeat center center / cover;
}

.section-menu {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 80px 0 100px;


  @media screen and (max-width: $medium-screen) {
      flex-direction: column;
      align-items: center;
      justify-content: center;

  }


  img {
    margin-left: 0;
  }

  .divider3 {
    justify-content: center;
    margin-left: 25%;
    padding-top: 0;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    color: $budha-gold;
  }


  .special {
    margin-top: 0;
    height: 70%;
    border: 2px solid $budha-border;
    line-height: 20px;
  }

  h1 {
    margin-left: 10px;
    padding-top: 20px;
    font-size: 1.5rem;
    color: $budha-gold;
  }

  .price {
    display: flex;
    justify-content: flex-end;
  }

  h2 {
    font-size: 0.8rem;
    margin-top: -20px;
    margin-left: 92%;
    background-image: url('../image/spec.png');
    color: $white;
  }

  p {
    font-size: 1rem;
    padding: 10px;
  }
}



.price {
  margin-right: 0;
}

.Salads {
  padding-top: 75px;
}

.Dishes {
  padding-top: 70px;
}


.right-part {
  margin-left: 100px;
}
@media screen and (max-width: $medium-screen) {
  .section-ingredients {
    .divider3 {
      margin-left: 0;
      text-align: center;
    }
  }

  .right-part {
    margin-left: 0;
    padding-top: 20px;
  }
}
